<div class="row">
  <div class="col-md-6">
    <h3 class="mb-2 text-gray">Factura n° <%= @sale.id %></h3>
  </div>
  <div class="col-md-6" style="text-align:right;">
    <h3 class="ml-auto" id="total_venta_lbl">Total $  <%= @valor %></h3>

  </div>
  <div class="col-md-5 mb-3">
    <div class="row">
      <div class="col">
        <p class="mt-4 h5">cliente</p>
        <h6><%= @sale.client.nombre %></h6>
      </div>
      <div class="col">
        <p class="mt-4 h5">telefono</p>
        <p class="h6"><%= @sale.client.telefono %></p>
      </div>
    </div>
  </div>
  <div class="col-md-7" style="text-align:right" >
    <a class="btn btn-success" href="/sales">finalizar venta</a>
      <%= link_to 'Cancelar venta', @sale, method: :delete, data: { confirm: '¿Cancelar la venta?' }, class: "btn btn-danger" %>
  </div>
  <%= link_to new_sale_sale_detail_path, {remote: true, class: "btn btn-info ml-3", id: "anadir-platos-btn"}  do %>
    <span class="fas fa-plus-circle" ></span>
    Agregar plato
  <% end %>
</div>
<br>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tablaDetails">
        <thead>
          <tr>
            <th>Plato</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
            <th>Precio total</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @details.each do |d|%>
          <tr id="detail_<%= d.id %>" >
            <td><%= d.dish.nombre %></td>
            <td><%= d.dish.descripcion %></td>
            <td align="center"><%= d.cantidad %></td>
            <td align="center">$ <%= d.dish.precio %></td>
            <td align="center">$ <%= d.preciot %></td>
            <td align="center"><%= link_to edit_sale_sale_detail_path(@sale, d), html_options = {class: "btn btn-info btn-xs", remote: true} do %>
                <i class="fas fa-edit"></i>
              <%end%>
            </td>
            <td align="center"><%= link_to  sale_sale_detail_path(@sale, d), method: :delete, data: { confirm: "Desearemover el plato"}, class: "btn btn-danger" do %>
                 <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
         <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render "modal_add_dishes"%>
