<div class="container border p-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <form class="" action="/factura/new" method="POST">
              <div class="form-row">
            <div class="form-group col-md-9">
              <input type="search" class="form-control" name="nombre" id="inputEmail4">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<label for="">{{nombre}}</label>
<label for="">{{apellido}}</label>
<label for="">{{cedula}}</label>
<label for="">{{direccion}}</label>
<label for="">{{correo}}</label>
<label for="">{{estado}}</label>
