<!-- <div class="container p-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <form class="" action="/factura/new" method="POST">
              <div class="form-row">
            <div class="form-group col-md-9">
              <input type="search" class="form-control" name="nombre" id="inputEmail4">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{#each cliente}}
<strong>Clientes:</strong> <br>
nombre:
<label for="">{{nombre}}</label> <br>
apellido:
<label for="">{{apellido}}</label> <br>
cedula:
<label for="">{{cedula}}</label> <br>
direccion:
<label for="">{{direccion}}</label> <br>
correo:
<label for="">{{correo}}</label> <br>
estado:
<label for="">{{estado}}</label> <br>
{{/each}}

{{#each producto}}
<strong>Plato:</strong> <br>
nombre:
<label for="">{{nombre}}</label> <br>
precio:
<label for="">{{precio}}</label> <br>
descripcion:
<label for="">{{descripcion}}</label> <br>
estado:
<label for="">{{estado}}</label> <br>
{{/each}} -->
