<div class="container-fluid mb-2">
  <div class="row mt-2">
    <div class="col-md-4 mx-auto">
      <div class="card shadow mt-4">
        <div class="card-body">
          <h3 align="center">Cambiar contraseña</h3>
          <%= simple_form_for @user, url: user_update_password_path(@user) do |f| %>
          <%= f.input :current_password %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.button :submit, "cambiar contraseña", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
