<div class="container top-xd" style="max-width: 500px";>
  <div class="row mx-auto">
    <div class="col-md-12 col-sm-8">
      <div class="card top emp-profile">
        <div class="card-body">
          <form action="/editprofile/{{user.id}}"method="post">
            <h4 class="text-center">Actualizar Datos</h4>
            <div class="form-group">
              <h7>Nombre De Usuario:</h7>
              <input type="text" value="{{user.username}}"class="form-control" id="exampleInputPassword1" name="username"
              placeholder="username" required=""pattern="[A-Za-z ]+[a-z0-9._%+-]" tabindex="1" autofocus>
            </div>
            <div class="form-group">
              <h7>Nombre:</h7>
              <input type="text" value="{{user.name}}"class="form-control" id="exampleInputPassword1" name="name"
              placeholder="name" required=""pattern="[A-Za-z ]+" tabindex="1" autofocus>
            </div>
            <div class="form-group">
              <h7>Apellido:</h7>
              <input type="text" value="{{user.fullname}}"class="form-control" id="exampleInputPassword1" name="fullname"
              placeholder="fullname" required=""pattern="[A-Za-z ]+">
            </div>
            <div class="form-group">
              <h7>Email:</h7>
              <input type="text" value="{{user.email}}"class="form-control" id="exampleInputPassword1" name="email"
                placeholder="email" required=""pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>
            <div class="form-group">
              <h7>Telefono:</h7>
              <input type="text" value="{{user.mobile}}"class="form-control" id="exampleInputPassword1" name="mobile"
              placeholder="mobile" required=""pattern="[0-9]+">
            </div>
            <button class="btn btn-success btn-lg btn-block">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
