<div class="container-fluid mb-2">
  <div class="row mt-4">
    <div class="col-md-3 mx-auto">
      <div class="card shadow mt-4">
        <div class="card-body">
          <h2 align="center">Iniciar session</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Iniciar session",class:"btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
          <p align="center"><%= render "devise/shared/links" %></p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <h1>¿GarvSoft?</h1>
  <a href="#informacion">Saber mas.</a>
</div>

<section id="informacion">
  <div class="card-deck">
    <div class="card mb-3 shadow mt-4">
      <img class="card-img-top" src="https://img.freepik.com/vector-gratis/ilustracion-gente-negocios_52683-34772.jpg?size=626&ext=jpg" alt="Card image cap">
    </div>
    <div class="card mb-3 shadow mt-4">
      <img class="card-img-top" src="https://img.freepik.com/vector-gratis/ilustracion-gente-negocios_52683-34772.jpg?size=626&ext=jpg" alt="Card image cap">
    </div>
    <div class="card mb-3 shadow mt-4">
      <img class="card-img-top" src="https://img.freepik.com/vector-gratis/ilustracion-gente-negocios_52683-34772.jpg?size=626&ext=jpg" alt="Card image cap">
    </div>
  </div>

  <div class="card-deck">
    <div class="card mb-3 shadow mt-4">
      <img class="card-img-top" src="https://img.freepik.com/vector-gratis/ilustracion-gente-negocios_52683-34772.jpg?size=626&ext=jpg" alt="Card image cap">
    </div>
    <div class="card mb-3 shadow mt-4" data-toggle="modal" data-target="#modal1">
      <img class="card-img-top" src="https://img.freepik.com/vector-gratis/ilustracion-gente-negocios_52683-34772.jpg?size=626&ext=jpg" alt="Card image cap">
    </div>
    <div class="card mb-3 shadow mt-4" data-toggle="modal" data-target="#modal1">
      <img class="card-img-top" src="https://img.freepik.com/vector-gratis/ilustracion-gente-negocios_52683-34772.jpg?size=626&ext=jpg" alt="Card image cap">
    </div>
  </div>

<!-- Modal#1-->
  <div class="portfolio-modal modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h2 class="portfolio-modal-title text-secondary mb-0">Log Cabin</h2>
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
                </div>
                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="Log Cabin"/>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Modal#2-->
<div class="portfolio-modal modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h2 class="portfolio-modal-title text-secondary mb-0">Log Cabin</h2>
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>
              <img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="Log Cabin"/>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
