<div class=" container-fluid p-5">
  <div class="row">
    <div class="col-md-12 col-sm-8 col-lg-11">
      <table class="table table-striped  text-center" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each lista}}
          <tr>
            <th>{{this.id}}</th>
            <td>{{this.plato}}</td>
            <td>{{this.precio}}</td>
            <td>{{this.descripcion}}</td>
            <td>{{this.Estado}}</td>
            <td><a class="btn btn-success" href="/edit/{{id}}">Editar</a></td>
            <td><a class="btn btn-danger" href="/delete/{{id}}">Borrar</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a class="btn btn-primary" href="/new">Nuevo Plato</a>
    </div>
  </div>
</div>
