<div class=" container p-5">
  <div class="row">
    <div class="col-md-4 col-sm-8 col-lg-11">
      {{#if data}}
      <table class="table table-striped  text-center table-hover" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <th>{{this.id}}</th>
            <td>{{this.plato}}</td>
            <td>{{this.precio}}</td>
            <td>{{this.descripcion}}</td>
            <td><a class="btn btn-success" href="/update/{{id}}">Editar</a></td>
            <td><a class="btn btn-danger" href="/delete/{{id}}">Borrar</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
      <!-- <a class="btn btn-primary" href="/new">Nuevo Plato</a> -->
    </div>
  </div>
</div>
{{> new}}
