<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <form action="/perfil/edit/{{user.id}}?_method=PUT" method="POST" >
        <div class="card shadow">
          <div class="card-body">
            <h4 align="center">Actualizar perfil</h4>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Nombre</label>
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="nombre" value="{{user.nombre}}" class="form-control" id="inputEmail4" autofocus>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Apellido</label>
                <input type="text" name="apellido" value="{{user.apellido}}" class="form-control" id="inputEmail4">
              </div>
            </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail4">Correo</label>
                  <input type="text" name="correo" value="{{user.correo}}" class="form-control" id="inputEmail4">
                </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputEmail4">Celular</label>
                    <input type="text" name="celular" value="{{user.celular}}" class="form-control" id="inputEmail4">
                  </div>
                </div>
            <div class="form-row">
              <button type="submit" class="btn btn-success btn-lg btn-block">Actualizar</button>
            </div>
      </form>
    </div>
  </div>
</div>
