<h1 class="h3 mb-2 text-gray-800">Categorias</h1>

<div>
  <%= link_to new_category_path, {remote: true, class: "btn btn-info", id: "anadir-categoria-btn"}  do %>
    <span class="fas fa-plus-circle" ></span>
    Nueva categoria
  <% end %>
</div>
<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
       <table id="tablaCategorias" class="table table-bordered table-hover" width="95%" role="datatable">
         <thead>
           <tr>
             <th>Nombre Categoría</th>
             <th>Descripcion</th>
             <th colspan="3"></th>
           </tr>
         </thead>
         <tbody>
         <% @categorias.each do |cat| %>
            <tr id="categoria_<%= cat.id %>" >
                <td><%= cat.nombre %></td>
                <td><%= cat.descripcion %></td>
                <td align="center"><%= link_to "editar", edit_category_path(cat), html_options = {class: "btn btn-info btn-xs", remote: true} %></td>
                <td align="center"><%= link_to 'Borrar', cat, remote: true, method: :delete, data: { confirm: "¿Borrar categoria: #{cat.nombre}?"}, class: "btn btn-danger btn-xs" %></td>
            </tr>
         <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-2">
  <%= will_paginate @categorias, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<%= render 'modal_categorias' %>
