$('#modalCategorias').modal('toggle');
$('#categoria_<%= @categoria.id %>').replaceWith(
    '<tr id="categoria_<%= @categoria.id %>" ><td><%= @categoria.nombre %></td><td><%= @categoria.description %></td><td align="center"><%= link_to 'editar', edit_category_path(@categoria), html_options = {class: "btn btn-info btn-xs", remote: true} %></td><td align="center"> <%= link_to "Borrar", @categoria, remote: true, method: :delete, data: { confirm: "¿Borrar categoria: #{@categoria.nombre}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);
