<div class="container-fluid">
  <h1>Registro de venta</h1>
  <div class="mb-3">
    <%= link_to new_sale_path, {remote: true, class: "btn btn-info shadow"}  do %>
      <%= fa_icon "plus-circle" %>
      Nueva venta
    <%end%>

  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <% if @sales.empty? %>
                    <th>N° factura</th>
                    <th>Nombre cliente</th>
                    <th>Total</th>
                    <th>Fecha</th>
                  <% else %>
                    <th>N° factura</th>
                    <th>Nombre cliente</th>
                    <!-- <th>Total</th> -->
                    <th>Fecha</th>
                    <th colspan="3"></th>
                  <%end %>
                </tr>
                <tbody>
                  <% @sales.each do |sale| %>
                  <tr>
                    <td align="center"><%= sale.id %></td>
                    <td><%= sale.client.nombre %></td>
                    <td><%= sale.created_at.strftime('%d-%m-%Y a las %H:%M')%></td>
                    <%if current_user.has_role? :admin%>
                    <td align="center"><%= link_to 'Borrar', sale, method: :delete, data: {confirm: "Desea Borrar la venta"}, class: "btn btn-danger" %></td>
                    <%else%>
                    <%end%>
                    <td align="center"><%= link_to 'Reporte', sale_sale_details_path(sale) + '.pdf', class:"btn btn-success" %></td>
                    <td align="center"><%= link_to 'detalle', sale_sale_details_path(sale), class:"btn btn-success" %></td>
                  </tr>
                   <%end%>
                </tbody>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-2">
  <%= will_paginate @sales, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<%= render "modal_add_client_user"%>
